<footer>
	<div class="footer-content-container">
		<div class="footer-top">
			<div class="footer-dropdown">
				<div class="footer-dropdown-actual">
					<select>
						<option>English</option>
						<option>Bahasa Indonesia</option>
						<option>Deutsch</option>
						<option>Italiano</option>
						<option>Polski</option>
					</select>
					<br>
					<select>
						<option>USD</option>
						<option>AED</option>
						<option>BGN</option>
						<option>CNY</option>
						<option>EUR</option>
						<option>HKD</option>
						<option>PHP</option>
						<option>SAR</option>
						<option>UAH</option>
						<option>ZAR</option>
					</select>
				</div>
			</div>
			<div class="footer-company">
				<p>Company</p>
				<br>
				<ul>
					<li>About</li>
					<li>Careers</li>
					<li>Press</li>
					<li>Blog</li>
					<li>Help</li>
					<li>Policies</li>
					<li>Disaster</li>
					<li>Response</li>
					<li>Terms &amp; Privacy</li>
					<li></li>
				</ul>
			</div>
			<div class="footer-discover">
				<p>Discover</p>
				<br>
				<ul>
					<li>Trust &amp; Safety</li>
					<li>Travel Credit</li>
					<li>Gift Cards</li>
					<li>Airbnb Picks</li>
					<li>Mobile</li>
					<li>Airbnb Action</li>
					<li>Business Travel</li>
					<li>Site Map</li>
				</ul>
			</div>
			<div class="footer-hosting">
				<p>Hosting</p>
				<br>
				<ul>
					<li>Why Host</li>
					<li>Hospitality</li>
					<li>Responsible Hosting</li>
					<li>Home Safety</li>
					<li>Instant Book</li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
			<p>Join Us On</p>
			<br>
			<i class="fa fa-facebook" aria-hidden="true"></i>
			<i class="fa fa-google-plus" aria-hidden="true"></i>
			<i class="fa fa-twitter" aria-hidden="true"></i>
			<i class="fa fa-linkedin" aria-hidden="true"></i>
			<i class="fa fa-pinterest" aria-hidden="true"></i>
			<i class="fa fa-youtube-play" aria-hidden="true"></i>
			<i class="fa fa-instagram" aria-hidden="true"></i>
			<h5>&copy; Airbnb, Inc.</h5>
		</div>
	</div>
</footer>